:root{
  --body-color : #4F5053;
  --text-color : #ae9606;
  --link-color : red;
  --block-color : #242424;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--body-color);
  margin-top: 100px;
}

/* decalage vertical navbar quand click sur un lien pour compenser hauteur navbar */
:target{
  padding-top:70px;
}

/* smooth scroll*/
html {
  scroll-behavior: smooth;
}

h2,
h3,
p,
li,
div {
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

.block {
  background-color: var(--block-color);
  padding : 1vh 3vh;
  margin : 3vw;
  border-radius: 10px;
}

/* Début navbar */
.navbar {
  display: flex;
  justify-content: center;
  background-color: var(--block-color);
  color: var(--text-color);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 10;
}

.batLogo {
  display: block;
  justify-content: center;
  align-items: center;
  width: 150px;
  padding: 0.5rem;
  transition: transform 0.7s ease-in-out;
}

.batLogo:hover {
  transform: rotate(360deg);
}

img {
  max-width: 100%;
}

.navbarLinks {
  display: flex;
  justify-content: center;
  width: 100%;
}
.navbarLinks ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.navbarLinks li {
  list-style: none;
}

.navbarLinks li a {
  text-decoration: none;
  padding: 1rem;
  color: var(--text-color);
}

.navbarLinks li:hover {
  list-style: none;
}

.burgerButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.burgerButton .bar {
  height: 3px;
  width: 100%;
  background-color: var(--text-color);
  border-radius: 10px;
}

.centerContent {
  width: 80vw;
  margin: auto;
}

/* Partie responsive Navbar */

@media screen and (max-width: 600px) {
  /* decalage vertical navbar quand click sur un lien pour compenser hauteur menu deroulant */
  :target{
    padding-top:200px;
  }

  .burgerButton {
    display: flex;
  }

  .batLogo {
    display: block;
    justify-content: center;
    align-items: center;
    width: 150px;
  }

  .navbarLinks {
    width: 100%;
    position: absolute;
    opacity: 0;
    background-color: #242424;
    transition: all 0.7s ease-in-out;
  }

  .navbarLinks.active {
    transition: all 0.7s ease-in-out;
    opacity: 1;
  }

  .navbar {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
  }

  .navbarLinks ul {
    width: 100%;
    flex-direction: column;
  }

  .navbarLinks li {
    padding: 5px;
    text-align: center;
  }

  .navbarLinks li a {
    padding: 1rem 1rem;
  }

  .centerContent {
    width: 98vw;
    margin: auto;
  }
}

/* Fin navbar */
/* Début caroussel */

#slider {
  width: 100%;
}

.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  margin-top: 100px;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid var(--text-color);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: var(--text-color);
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid var(--text-color);
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

@media only screen and (max-width: 480px) {
  img {
    width: 100%;
  }
}

/* fin caroussel */


/*-------------------PARTIE ESCALES--------------------*/

#escales {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  /*border : solid black 2px;*/
}

/* PARTIE LIGNE DE METRO */

#escaleMap {
  /*container*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 500px;
  /*border : solid red 1px;*/
}

#escaleLine {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  width: 0;
  height: 400px;
  border: solid var(--text-color) 2px;
}

#pointContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  height: 360px;
}

.escalePoint {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--text-color);
}
.escalePoint:hover {
  animation-name: pointAnimation ;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;

}
@keyframes pointAnimation{
  0%{
    scale : 100%;
  }
  50%{
    scale : 115%;
  }
  100%{
    scale : 100%;
  }
}
#titleHoverContainer {
  /*container*/
  display: none;
  width: 10%;
  height: 500px;
  /*border: solid green 1px;*/
  text-align: center;
}
.escaleTitle {
  position: relative;
  width: 20%;
  height: 20%;
}

#stalingradTitle {
  top: 5%;
}

#quinconcesTitle {
  top: 23%;
}

#hangarsTitle {
  top: 39%;
}

#citeDuVinTitle {
  top: 47%;
}

#lormontTitle {
  top: 68%;
}

/* PARTIE TEXTE */

#divEscaleText {
  /*container*/
  width: 85%;
  height: auto;
  /*border : solid blue 1px;*/
}

.escaleTitle {
  display: none;
}

.escaleText {
  display: none;
}

.googleMap {
  display: block;
  width: 300px;
  height: 450px;
}

@media screen and (min-width: 700px) {
  #escales {
    display: block;
  }

  /* PARTIE LIGNE DE METRO */

  #escaleMap {
    /*container*/
    display: flex;
    width: 100%;
    height: 100px;
  }

  #escaleLine {
    width: 90%;
    height: 0;
    margin: auto;
  }

  #pointContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    width: 90%;
    height: 0;
  }

  .escalePoint {
    margin: 0;
  }

  #titleHoverContainer {
    /*container*/
    display: block;
    width: 100%;
    height: 50px;
  }

  .escaleTitle {
    width: 20%;
  }

  #stalingradTitle {
    top: 0;
    left: 1.5%;
  }

  #quinconcesTitle {
    top: 0;
    left: 21%;
  }

  #hangarsTitle {
    top: 0;
    left: 40.5%;
  }

  #citeDuVinTitle {
    top: 0;
    left: 59%;
  }

  #lormontTitle {
    top: 0;
    left: 78.5%;
  }

  /* PARTIE TEXTE */

  #divEscaleText {
    /*container*/
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: flex-start;
  }
  .textOnly {
    width: 500px;
  }
}

/*---------------FORMULAIRE---------------------*/

.formTitle,
.titleContact {
  text-align: center;
  color: var(--text-color);
}

#formReservation {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.horaire,
.personInfo,
.timeChoice {
  display: flex;
  background-color: #a1a7b5;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 20px;
}

.reservationButton {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-top: 2%;
  font-size: 20px;
}

.form input {
  padding: 0.8% 0% 0.8% 0%;
}

.form input:hover {
  background-color: #fdff00;
}

textarea:hover {
  background-color: #fdff00;
}

/*-------------------CONTACT------------------*/

.buttonContact {
  margin-left: 80%;
  width: 15%;
}

.buttonContactStyle {
  background-color: var(--text-color);
}

.buttonContact input {
  padding-top: 5%;
  padding-bottom: 5%;
}

.buttonContactStyle:hover {
  background-color: #fdff00;
}

label {
  color: var(--text-color);
}

footer {
  height: 150px;
    display: flex;
    margin-top: 20px;
    background-image: linear-gradient(to top, var(--block-color), var(--block-color), var(--body-color));
    justify-content: center;
    align-items: flex-end;
}
